   * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;

   }

   html,
   body {
     height: 100%;
     width: 100%;
     background-color: rgba(255, 0, 0, 0.353);
   }

   .main {
     height: 100%;
     width: 100%;
   }

   #nav {
     height: 80px;
     width: 100%;
     /* background-color: blue;*/
     display: flex;
     align-items: center;
     justify-content: flex-end;

     gap: 4px;

   }

   .imge {
     height: 80px;
     width: 60%;
     align-items: center;
     display: flex;

     justify-content: flex-start;

     margin-right: 80px;
   }


   .imge img {
     height: 80px;
     width: 80px;


     border-radius: 50%;
   }

   #nav h4 a {
     font-size: 15px;
     text-decoration: none;
     font-weight: 500;
     margin-right: 15px;
     padding-right: 10px;
   }

   .content {
     width: 100%;
     height: calc(100% - 80px);
     display: flex;

   }

   .left {
     width: 45%;
     height: 100%;
     /* background-color: brown;*/
     padding: 90px 100px;

   }

   .left h1 {
     font-size: 45px;
     text-transform: uppercase;
     line-height: 60px;

   }

   .left p {
     font-size: 15px;
   }

   .left button {
     font-size: 17px;
     font-weight: 600;
     padding: 15px 24px;
     text-transform: uppercase;
     border-radius: 50px;
     border-top-left-radius: 0px;
     margin-top: 30px;
   }

   .right {
     height: 100%;
     width: 60%;
     /*background-color: chartreuse;*/
     position: relative;
     padding: 100px;
     white-space: nowrap;
     overflow-x: auto;


   }

   .right::-webkit-scrollbar {
     display: none;
   }

   .elm {
     height: 400px;
     width: 300px;
     background-color: black;
     position: relative;
     border-radius: 10px;
     display: inline-block;
     margin-right: 20px;
   }

   .elm img {
     height: 56%;
     object-fit: cover;
     position: absolute;
     top: 10%;


   }

   .elm h4 {
     position: absolute;
     bottom: 0;
     right: 0;
     background-color: red;
     padding: 15px 30px;
     border-radius: 10px;
     font-size: 20px;
     margin-bottom: 10px;
     border-top-left-radius: 0px;
     margin-right: 40px;
   }